{% extends 'base.html' %}

{% block content %}

{% load widget_tweaks %}


<form action="{% url 'minha_consulta' %}" method="post">
    {% csrf_token %}

    <!-- PassagemForm -->

    {% for field in form.visible_fields %}

    <div class="form-group">
        <label for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>
        {{field|add_class:'form-control'}}
    </div>

    {% for erro in field.errors %}

    <section class="alert alert-danger" role="alert">
        {{field.errors}}
    </section>

    {% endfor %}

    {% endfor %}

    <!-- PessoaForm -->

    {% for field in pessoa_form.visible_fields %}

    <div class="form-group">
        <label for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>
        {{field|add_class:'form-control'}}
    </div>

    {% for erro in field.errors %}

    <section class="alert alert-danger" role="alert">
        {{field.errors}}
    </section>

    {% endfor %}

    {% endfor %}

    <input type="submit" value="Enviar" class="btn btn-success" />
</form>


{% endblock content %}